@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$font-family-base: "Inter";
$font-family-sans-serif: "Inter";
$nav-pills-link-active-bg: #e5efff;
$nav-pills-link-active-color: #3879e9;

// $primary: #10bb54;

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
	height: 100% !important;
}

// variables
$light: #fff;

@import "./index.scss";
@import "./layouts.scss";
@import "./dashboard.scss";
@import "./home.scss";
@import "./login.scss";
@import "./scanner.scss";
@import "./message.scss";
