body {
	overflow-x: hidden !important;
}

.greetings {
	display: flex;
	flex-direction: column;
	font-family: "Recoleta", sans-serif;

	h1:first-child {
		font-weight: 800;
		font-size: 2.5rem;
	}

	h1:last-child {
		font-weight: 500;
		font-size: 2.2rem;
	}
}

.font-recoleta {
	font-family: "Recoleta", sans-serif;
}

.font-montserrat {
	font-family: "Montserrat", sans-serif;
}

.font-inter {
	font-family: "Inter", sans-serif;
}

.choose-designation {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
}

.incharge-to-list-container {
	max-height: 30rem;
	overflow-y: scroll;
}

.dashboard-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: white;
}

.notif-body {
	display: inline-block;
	width: 25rem;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}

.marquee {
	height: 50px;
	overflow: hidden;
	position: relative;
	color: #333;
}

.marquee p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-left {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@media screen and (min-width: 1400px) {
	.notif-body {
		max-width: 200rem !important;
	}
}

@media screen and (max-width: 1400px) {
	.notif-body {
		max-width: 15rem !important;
	}
}
