@font-face {
	font-family: Recoleta;
	src: url("../fonts/recoleta-regulardemo.otf") format("opentype");
}

.img-profile-con {
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	border-radius: 50%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.calendar {
	background-color: white;
	border-radius: 10px 0 10px 0;
}

.calendar-grid.per-week {
	margin-top: 3rem;

	.center {
		position: relative;

		&::after {
			position: absolute;
			content: "";
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			height: 2px;
			background-color: #000;
		}
	}
}

.calendar-grid {
	// max-width: 60%;
	padding-right: 5rem;
	.table {
		td div {
			height: 100px;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.pending-alert {
				background-color: rgb(255, 211, 129);
				border-radius: 5px;
				padding: 0 10px;
			}

			.approved-alert {
				background-color: #83b1ff;
				border-radius: 5px;
				padding: 0 10px;
			}

			.release-alert {
				background-color: rgb(118, 255, 118);
				border-radius: 5px;
				padding: 0 10px;
			}
		}
	}
}

.calendar-set-appointment {
	// .calendar-grid {
	.table {
		th {
			width: calc(100% / 7);
		}

		td {
			width: calc(100% / 7);
			div {
				height: auto !important;
				// display: none !important;
			}
		}
	}
	// }
}

.calendar-grid.dashboard {
	// .calendar-grid {
	.table {
		th {
			width: calc(100% / 7);
		}

		td {
			width: calc(100% / 7);
		}
	}
	// }
}
.event-legend,
.holiday-legend,
.pending-legend,
.approved-legend {
	margin-bottom: 1rem;
	p {
		font-weight: 600;
		margin: 0;
	}

	div {
		width: 20px !important;
		height: 20px !important;
	}
}

.event-legend {
	div {
		background-color: rgb(118, 255, 118);
	}
}

.holiday-legend {
	div {
		background-color: red;
	}
}

.pending-legend {
	div {
		background-color: rgb(255, 211, 129);
	}
}

.approved-legend {
	div {
		background-color: #83b1ff;
	}
}

td.active {
	background-color: #cfe1ff;
}

.main-schedule {
	padding: 5rem;
	background: #edf4ff;
	display: flex;
	gap: 3rem;

	.current-day {
		color: #3879e9;
	}
}

.appointment-details-card-con {
	display: flex;
	flex-wrap: wrap;
	height: fit-content;
	width: 100%;
	gap: 3rem;
}

.appointment-details-card {
	border: 0;
	border-radius: 0.5rem;
	background: #edeef3;
	border-left: 4px solid #e4e4e4;

	button {
		border: 1px solid #b1b1b1;
	}

	&.active {
		background: #fefefe;
		border-left: 4px solid #0d6efd;

		button {
			border: 1px solid #3879e9;
		}
	}
}

.spread-container {
	width: 45%;

	form {
		display: flex;
		flex-direction: column;
	}
}

#qr-code {
	img {
		margin: 0 !important;
		width: 23rem;
		height: auto;
	}
}

.center-vertical {
	display: flex;
	align-items: center;
}

.main-content {
	padding: 5rem 0 0 21rem;
	position: relative;
}

.popup-overlay {
	position: absolute;
	display: none;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	padding: 2.5rem;
	background: white;
}

.popup-overlay.active {
	display: block;
}

// .main-content::after {
// 	position: absolute;
// 	content: "";
// 	background-color: rgba(0, 0, 0, 0.2);
// 	top: 0;
// 	left: 0;
// 	width: 100vw;
// 	height: 100vh;
// 	z-index: 20;
// }

.employee-status-cell.available {
	div {
		background: rgb(162, 255, 162);
		width: fit-content;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		color: rgb(40, 146, 40);
		font-weight: 600;
	}
}

.employee-status-cell {
	div {
		background: rgb(255, 204, 204);
		width: fit-content;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		color: red;
		font-weight: 600;
	}
}
